{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vokabeltrainer</title>
    <!-- Importiere das Aussehen aller Objekte -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- Importiere die Funktionen der Seite -->
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <div class="center">
        <h1>GRANDMASTERMIND</h1>
    </div>
    <div class="scrollable-container">
        <div class="scrollable-item"><span class="center">Own Game</span></div>
        <div class="scrollable-item"><span class="center">100</span></div>
        <div class="scrollable-item"><span class="center">200</span></div>
        <div class="scrollable-item"><span class="center">300</span></div>
        <div class="scrollable-item"><span class="center">400</span></div>
        <div class="scrollable-item"><span class="center">500</span></div>
        <div class="scrollable-item"><span class="center">600</span></div>
        <div class="scrollable-item"><span class="center">700</span></div>
        <div class="scrollable-item"><span class="center">800</span></div>
        <div class="scrollable-item"><span class="center">900</span></div>
        <div class="scrollable-item"><span class="center">1000</span></div>
        <div class="scrollable-item"><span class="center">1100</span></div>
        <div class="scrollable-item"><span class="center">1200</span></div>
        <div class="scrollable-item"><span class="center">1300</span></div>
        <div class="scrollable-item"><span class="center">1400</span></div>
    </div>
</body>
</html>