{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vokabeltrainer</title>
    <!-- Importiere das Aussehen aller Objekte -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- Importiere die Funktionen der Seite -->
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <h1>GRANDMASTERMIND</h1>
    <div class="scrollable-container">
        <div class="scrollable-item">Own Game</div>
        <div class="scrollable-item">100</div>
        <div class="scrollable-item">200</div>
        <div class="scrollable-item">300</div>
        <div class="scrollable-item">400</div>
        <div class="scrollable-item">500</div>
        <div class="scrollable-item">600</div>
        <div class="scrollable-item">700</div>
        <div class="scrollable-item">800</div>
        <div class="scrollable-item">900</div>
        <div class="scrollable-item">1000</div>
        <div class="scrollable-item">1100</div>
        <div class="scrollable-item">1200</div>
        <div class="scrollable-item">1300</div>
        <div class="scrollable-item">1400</div>
    </div>
</body>
</html>